<header class="header">
  <div class="menu">
    <ul>
      <li>Work</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="header__body">
    <div class="hero">
      <div class="hero__content">
        <h1>
          Hi, I am John,<br />
          Creative Technologist
        </h1>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <button class="resume-button">Download Resume</button>
      </div>
      <img src="../assets/images/Ellipse 1.png" alt="avatar" />
    </div>
  </div>

  <div class="recent-posts">
    <div class="wrapper">
      <div class="recent-posts_head">
        <h3>Recent posts</h3>
        <a href="#">View all</a>
      </div>
      <div class="posts">
        <div class="post-item">
          <h2>Making a design system from scratch</h2>

          <div class="post-date">
            <p>12 Feb 2020</p>
            <p>|</p>
            <p>Design, pattern</p>
          </div>

          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="post-item">
          <h2>Making a design system from scratch</h2>

          <div class="post-date">
            <p>12 Feb 2020</p>
            <p>|</p>
            <p>Design, pattern</p>
          </div>

          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <div class="post-item">
          <h2>Making a design system from scratch</h2>

          <div class="post-date">
            <p>12 Feb 2020</p>
            <p>|</p>
            <p>Design, pattern</p>
          </div>

          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
